#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.term, .definition {
  border: 1px solid white;
  border-radius: 10%;
  display: flex;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

.term {
  background-color: red;
}

.definition{
  background-color: purple;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
}